<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

      <form method="POST" action="/team">
        <label>Team Name:</label><input name="team_name" type="text"/>
        <label>Coach:<input name="coach" type="text"/></label>
        <label>Point Guard:<input name="point_guard" type="text"/></label>
        <label>Shooting Guard:<input name="shooting_guard" type="text"/></label>
        <label>Small Forward:<input name="small_forward" type="text"/></label>
        <label>Power Forward:<input name="power_forward" type="text"/></label>
        <label>Center:<input name="center" type="text"/></label>
        <input id="Submit" type="submit"/>
      </form>
 </body>
</html>
